*¨{
    margin: 0px;
    padding: 0px;
    font-family: helvetica;
}
   div#banner{
    margin: auto;
    width: 50%;
    height: 150px;
    background-color: White
}

img#img_banner{
    display: block;
    margin:auto;
}

.container{
    width: 35%;
    margin: auto;
}

#menu ul{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

#menu a{
    margin: auto;
    display: block;
    padding: 10px;
    background-color: black;
    text-decoration: none;
    color: white;
}

#menu a:hover{
    background-color: gray;
}

.form{
    width: 300px;
    background-color: firebrick;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Calibri;
}

.controls{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px; color: black;
    font-size: 15px;
    font-family: 'Calibri;
}


.index.html.body.h2{
    height: 500px;
    width: 1000px;
    margin: 2rem auto;
    text-align: center;
}